* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.Aplicargrids:hover{
  transform: scale(1.018);
  transition: all 0.5s;
}
table:hover{
  transform: scale(1.3) translateY(70px);
  transition: all 1s;

}
.navbaredits{
  background-color: #0b111a;
  color: rgb(255, 255, 255);
  padding: 1em;
}
.linkmod{
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  border-radius: 7px;

}
.navico{
background-image:url(https://i.ibb.co/rm7KQwS/pngegg.png) ;
}
.navalu{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.linkmod:hover{
  color: rgb(127, 127, 127);
  background-color:rgb(0, 0, 0);
  transform: scale(1.5);
  transition: all 0.6s;
  border-radius: 7px;
}
a {
  text-decoration: none;
}
header {
  margin-bottom: 20px;
}
.principales {
  color: rgb(255, 255, 255);
  font-family: 'Commissioner', sans-serif;;
  margin: 20px;
  font-size: 2em;
}
.principales__moviles {
  color: rgb(255, 255, 255);
  font-family: 'Commissioner', sans-serif;;
  margin: 20px;
  font-size: 1.5em;
}
.text {
  margin: 20px;
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
}
.textfooter {
  margin: 20px;
  font-family: "Roboto Flex", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
main {
  padding-bottom: 40px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(22,38,60);
  background: linear-gradient(180deg, rgba(22,38,60,1) 0%, rgba(22,38,60,1) 0%, rgba(22,31,44,1) 50%, rgba(22,38,60,1) 100%);
}
main{
  padding-left: 1%;
  padding-right: 1%;
}

th,
td {
  padding: 17px;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  border: 1px solid rgb(0, 0, 0);
}
.fot{
  text-align: center;
}
footer {
  width: 100%;
  background-color: #0b111a;
  padding-bottom: 20px;
  margin-top: auto;
}
iframe{
  width: 100%;
  max-height: 300px;
  max-width: 500px;
}
.loadingbar{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2em;
}
#btn-menu {
  display: none;
}

.fot :hover {
  color: rgb(129, 129, 129);
}
.Aplicargrids{
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  padding: 1%;
  background-color: #0f151f;
  place-items: center;
}
header label {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #0b111a;
}
header label :hover{
  cursor: pointer;
  background: rgb(0, 0, 0,0.4);
}
form{
  max-width: 500px;
  background-color: #0b111a;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 15px;
}
form p {
  margin: 10px 0px 10px 0px;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
form input{
  border: 0;
  outline:0;
}
.form1 {
  border:1px solid #161f2c;
  padding: 10px;
  border-radius: 5px;
  width: 450px;
}
.btnenviar {
  width: 200px;
  height: 50px;
  margin: 20px auto 20px auto;
  background-color: rgb(38, 223, 121);
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}
.btnenviar:hover{  
  background-color: #02952e;
  cursor: pointer;
}

table {
  background-color: #0b111a;
  width: 100%;
  border-collapse: collapse;
}
.maintable{
  margin: 10px auto;
}
th, td{ 
padding: 15px;
border: 0px;
}
thead{
background-color:#21385a;
}
@media screen and (max-width: 768px)
{
  .Aplicargrids{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    border-radius: 10px;
    padding: 2%;
    background-color: #0f151f;
    place-items: center;
}
form{
  max-width: 350px;
  background-color: #0b111a;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 15px;
}
.form1 {
  border:1px solid #161f2c;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
}
table {
  background-color: #0b111a;
  width: 300px;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  font-size: 0.6em;
}
}
